
<footer  class="footer h-auto" style="background-color: #34495e; color: #ecf0f1; padding: 10px 0; text-align: center;">
  <div style="max-width: 1200px; margin: 0 auto;">
    <p>&copy; {{ site.time | date: "%Y" }} {{ site.title }}. All Rights Reserved.</p>
    <p>
      <a href="{{ '/privacy-policy' | relative_url }}" style="color: #ecf0f1; text-decoration: none; margin: 0 15px;">Privacy Policy</a>|
      <a href="{{ '/terms-of-service' | relative_url }}" style="color: #ecf0f1; text-decoration: none; margin: 0 15px;">Terms of Service</a>|
      <a href="{{ '/contact' | relative_url }}" style="color: #ecf0f1; text-decoration: none; margin: 0 15px;">Contact</a>
    </p>
    <p>
      <a href="https://www.linkedin.com" target="_blank" style="color: #ecf0f1; margin-right: 15px; text-decoration: none;">LinkedIn</a>
      <a href="https://github.com" target="_blank" style="color: #ecf0f1; text-decoration: none;">GitHub</a>
    </p>
  </div>
</footer>

<style>
.footer a:hover {
    color: #3498db; /* Electric blue for hover effect */
  }

.footer a:active {
    color: #2ecc71; /* Teal for active state */
  }
</style>