<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{{ page.title }} | {{ site.title }}</title>
  <link rel="stylesheet" href="{{ 'assets/css/style.css' | relative_url }}">
  <link rel="stylesheet" href="{{ site.baseurl }}/assets/bootstrap/css/bootstrap.min.css">

</head>
<body data-theme="{{ site.theme | default: 'light' }}">

  {% include header.html %}
  
  <main>
    {{ content }}
  </main>
  
  {% include footer.html %}

  <script src="{{ 'assets/js/theme.js' | relative_url }}"></script>
  <script src="{{ 'assets/bootstrap/js/bootstrap.bundle.min.js' | relative_url }}"></script>


</body>
</html>
